.profile {
  display: flex;
  gap: 116px;
}

.profile__button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  background-color: transparent;
}

.profile__customization {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
  margin-left: 0;
}
